---
http_interactions:
- request:
    method: post
    uri: http://api.redtrack.io/auth
    body:
      encoding: UTF-8
      string: '{"login":"good@good.com","password":"12345678"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "token" : "JgiGYE0xryYCqmH4RnvdNK9rwrGmeQge",
          "expirationTimestamp" : "2017-07-01T21:15:41.253Z",
          "inaugural" : false
        }
  recorded_at: Sat, 01 Jul 2017 17:15:41 GMT
recorded_with: VCR 3.0.3
