---
http_interactions:
- request:
    method: post
    uri: http://api.redtrack.io/auth
    body:
      encoding: UTF-8
      string: '{"email":"bad@bad.com","password":"badbadbad"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "error" : {
            "code" : "BAD_CREDENTIALS",
            "description" : "",
            "messages" : [ ],
            "webRequestId" : "req-aYOTc6MKI7LPgYzLQiJm",
            "time" : "2017-07-01T17:16:35.424+0000"
          },
          "typeName" : "badCredentials",
          "typeCode" : [ 401, 0 ],
          "status" : "UNAUTHORIZED"
        }
  recorded_at: Sat, 01 Jul 2017 17:16:35 GMT
recorded_with: VCR 3.0.3
